<header>
    
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../../assets/images/logo.png" alt="" style="height: 40px; ">
                </a>
                <h2 style="font-family: 'Times New Roman', Times, serif;">PanduBroker.com</h2> &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="menu" style="display: flex; font-family: 'Times New Roman', Times, serif; ">
                <a class="navbar-brand"><span>Buy</span></a>
                <a class="navbar-brand"><span>Rent</span></a>  
                <a class="navbar-brand"><span>Sell</span></a> 
                <a class="navbar-brand"><span>Mortgage</span></a> 
                <a class="navbar-brand"><span>My Home</span></a> 
            </div>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> &nbsp;&nbsp;
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>
      
      
</header>